<form novalidate *ngIf="id && ticketForm"
[formGroup]="ticketForm">
       <label 
       for="idId">id</label>
       <div>
       <input
       id="idId"
       type="text"
       formControlName="id"
       name="id"
       />
       </div>
       <label 
       for="assigneeId">assigneeId</label>
       <div>
       <input
       id="assigneeId"
       type="text"
       formControlName="assigneeId"
       name="assigneeId"
       />
       </div>
       <label 
           for="descriptionId">Description</label>
       <div>
       <input
             id="descriptionId"
             type="text"
             formControlName="description"
             name="description"
       />
       </div>
       <label 
           for="completedId">completed</label>
       <div>
       <input
             id="completedId"
             type="checkbox"
             formControlName="completed"
             name="completed"
       />
       </div>
</form>
<div *ngIf="!ticketForm">Loading...</div>